
{% load i18n %}

<!-- Delete History Modal -->
<div class="modal fade" id="deleteHistoryModal{{ history.id }}" tabindex="-1" aria-labelledby="deleteHistoryModalLabel{{ history.id }}" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteHistoryModalLabel{{ history.id }}">{% translate 'Delete Play Record' %}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form method="POST" action="{% url 'delete_history' history.id %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <p>{% translate 'Are you sure you want to delete?' %}</p>
                    <p>{% blocktrans %}Played on <strong>{{ history.play_date }}</strong>&nbsp;({{ history.duration }}min){% endblocktrans %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate 'Cancel' %}</button>
                    <button type="submit" class="btn btn-danger">{% translate 'Delete' %}</button>
                </div>
            </form>
        </div>
    </div>
</div>