
{% extends "./base.html" %}

{% load crispy_forms_tags %}

{% load static %}
{% load i18n %}

{% block content %}
    <h1>{% translate 'Players' %}</h1>

    <br>

    <div class="accordion" id="playerAccordion">
        {% for stat in player_stats %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading{{ stat.player.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ stat.player.id }}">
                        {{ stat.player.name }}
                    </button>
                </h2>
                <div id="collapse{{ stat.player.id }}" class="accordion-collapse collapse" data-bs-parent="#playerAccordion">
                    <div class="accordion-body">
                        <p><strong>{% translate 'Total Games Played' %}:</strong> {{ stat.total_games }}</p>
                        <p><strong>{% translate 'Win Rate' %}:</strong> {{ stat.win_rate }}%</p>
                        <p><strong>{% translate 'Total Play Time' %}:</strong> {{ stat.total_hours }} {% translate 'hours' %}</p>
                        
                        <h5>{% translate 'Favorite Games (Top 3)' %}:</h5>
                        <ul>
                            {% for game in stat.favorite_games %}
                                <li>{{ game.game__title }} (
                                    {% blocktrans count counter=game.game_count %}
                                        {{ counter }} play
                                    {% plural %}
                                        {{ counter }} plays
                                    {% endblocktrans %}
                                )
                                </li>
                            {% empty %}
                                <li>{% translate 'No games played yet.' %}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
