
{% extends "./base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% load i18n %}

{% block content %}
<h1>{% translate 'Settings' %}</h1>

<!-- Categories Section -->
<div class="mb-5">
    <h2>{% translate 'Categories' %}</h2>
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addCategoryModal">{% translate 'Add New Category' %}</button>
    
    <div class="accordion" id="categoryAccordion">
        {% for category in categories %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingCategory{{ category.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCategory{{ category.id }}">
                        {{ category.name }}
                    </button>
                </h2>
                <div id="collapseCategory{{ category.id }}" class="accordion-collapse collapse" data-bs-parent="#categoryAccordion">
                    <div class="accordion-body">
                        <p><strong>{% translate 'Description' %}:</strong><br>
                             {{ category.description }}
                        </p>
                        <div class="d-flex justify-content-end gap-2 mt-3">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editCategoryModal{{ category.id }}">{% translate 'Edit' %}</button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{ category.id }}">{% translate 'Delete' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{% translate 'No categories available.' %}</p>
        {% endfor %}
    </div>
</div>

<!-- Mechanics Section -->
<div>
    <h2>{% translate 'Mechanics' %}</h2>
    <button class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addMechanicModal">{% translate 'Add New Mechanic' %}</button>
    
    <div class="accordion" id="mechanicAccordion">
        {% for mechanic in mechanics %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingMechanic{{ mechanic.id }}">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMechanic{{ mechanic.id }}">
                        {{ mechanic.name }}
                    </button>
                </h2>
                <div id="collapseMechanic{{ mechanic.id }}" class="accordion-collapse collapse" data-bs-parent="#mechanicAccordion">
                    <div class="accordion-body">
                        <p><strong>{% translate 'Description' %}:</strong><br>
                            {{ mechanic.description }}
                        </p>
                        <div class="d-flex justify-content-end gap-2 mt-3">
                            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editMechanicModal{{ mechanic.id }}">{% translate 'Edit' %}</button>
                            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteMechanicModal{{ mechanic.id }}">{% translate 'Delete' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>{% translate 'No mechanics available.' %}</p>
        {% endfor %}
    </div>
</div>

<!-- Modal -->
{% for category in categories %}
    {% include 'boardgames/modals/category_modal.html' with category=category %}
{% endfor %}

{% for mechanic in mechanics %}
{% include 'boardgames/modals/mechanic_modal.html' with mechanic=mechanic %}
{% endfor %}

{% endblock %}